/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table.middle {
    border: 1px solid black;
    border-spacing: 1px;
    margin: 30px auto;
    width: 80%;
}

table.middle td {
    border: 1px solid black;
    padding: 1px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.green {
    background-color: green;
    height: 30px;
}

.blue {
    background-color: blue;
    height: 30px;
}

#t-image img {
    display: block;
    margin: auto;
}
